div.slider {
  margin: 20px 0px;
}

div.numeric-input {
  margin: 20px 0px;
}

div.icons {
  margin: 20px 0px;
}

div.image-input {
  margin: 20px 0px;
}

.button {
  display: block;
  width: 200px;
  height: 40px;
  margin: 5px 0px;
}
